footer {
    background-color: #262626;
}

.footer {
    &__inner {
        padding: 66px 0 52px 0px;
    }

    &__image {
        margin: 0px 0 24px 0px;
    }

    &__image img {
        width: 20%;
    }

    &__copyright {
        display: block;
        color: white;
        font-size: 11px;
    }

    &__hr {
        width: 100%;
        background-color: white;
        margin-bottom: 37px;
    }

    @media screen and (max-width: $grid-breakpoints-md) {
        &__image img {
            width: 30%;
        }
    }

    @media screen and (max-width: $grid-breakpoints-sm) {
        &__image img {
            width: 62%;
        }

        &__inner {
            padding: 52px 0 77px 0px;
        }

        &__image {
            margin: 0px 0 39px 0px;
        }

        &__hr {
            margin-bottom: 25px;
        }

        &__copyright {
            width: 44%;
            line-height: 14px;
        }
    }
}