.main__section {
    margin: 93px 0;

    @media screen and (max-width: $grid-breakpoints-sm) {
        margin: 53px 0;
    }
}

.main__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__part {
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    margin-bottom: 49px;
    max-width: 470px;

    @media screen and (max-width: $grid-breakpoints-lg) {
        max-width: 95%;
    }

    @media screen and (max-width: $grid-breakpoints-sm) {
        max-width: 100%;
    }
}

@media screen and (any-hover: hover) {
    .main__part:hover {
        background-color: #75757505;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}

.row {
    padding: 0 0px;
    margin: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}


.main__title {
    line-height: 24px;
    margin: 14px 0 4px 15px;
    font-weight: $weight;
    font-size: 16px;
    display: block;
    color: $color;
}

.main__text {
    font-size: 13px;
    line-height: 21px;
    color: #626262;
    margin: 0 0 56px 15px;
}

.main__span {
    font-weight: $big-weight;
    display: inline-block;
    font-size: 15px;
    line-height: 21px;
    margin: 0 0 15px 15px;
    color: $color;
}