.menu {
    margin: 31px 0 0px 0;

    &__hr {
        border-bottom: 1px solid #757575;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 24px;
    }

    &__option {
        display: flex;
        flex-wrap: wrap;
    }

    &__option label {
        margin-right: 40px;
    }

    &__option--small {
        display: none;
    }
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label {
    cursor: pointer;
}

input:checked+label {
    color: #327430;
    cursor: pointer;
}


select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    text-align-last: center;
    font-size: 22px;
    line-height: 34px;
}

select:focus {
    box-shadow: none;
    outline: none;
}

@media screen and (max-width: $grid-breakpoints-md) {
    .menu {
        margin: 16px 0 0px 0;

        &__option {
            flex-direction: column;
            text-align: center;
        }

        &__hr {
            width: 16%;
            margin: 10px auto 0;
        }

        &__option label {
            margin-right: 0px;
        }

        &__option {
            display: none;
        }

        &__option--small {
            display: block;
            display: flex;
            justify-content: center;
        }
    }


    textarea,
    input {
        outline: none;
    }
}

@media screen and (max-width:$grid-breakpoints-sm) {
    .menu {
        margin: 114px 0 41px 0;
    }
}