.menu {
    padding: 31px 0 0px 0;
}

.menu__hr {
    border-bottom: 1px solid #757575;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 24px;
}

.menu__option {
    display: flex;
    flex-wrap: wrap;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


input:checked+label {
    color: green;
}

.menu__option label {
    margin-right: 40px;
}

.menu__option--small {
    display: none;
}

select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    text-align-last: center;
    font-size: 22px;
    line-height: 34px;
}

select:focus {
    box-shadow: none;
    outline: none;
}

@media screen and (max-width: 768px) {
    .menu {
        padding: 16px 0 0px 0;
    }

    .menu__option {
        flex-direction: column;
        text-align: center;
    }

    .menu__hr {
        width: 16%;
        margin: 10px auto 0;
    }

    .menu__option label {
        margin-right: 0px;
    }

    .menu__option {
        display: none;
    }

    .menu__option--small {
        display: block;
        display: flex;
        justify-content: center;
    }

    textarea,
    input {
        outline: none;
    }
}

@media screen and (max-width: 576px) {
    .menu {
        padding: 114px 0 42px 0;
    }
}